body {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
}



.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
}

.header p {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 8px;
}

li {
    display: inline;
}

.underheader {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}

.uhinfo {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-bottom: 50px;

}

.uhinfo span {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.uhinfo p {
    font-size: 18px;
    color: #F9FAF8;
}

.uhinfo button {
    border: 2px solid #1f2937;
    font-weight: bold;
}

.uhimage {
    width: 500px;
    height: 200px;
    outline: 5px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    background-color: gray;

}

.uppermid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.uppermid span {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 36px;
}

.uppermidcont {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
    text-align: center;
}

.box {
    width: 150px;
    height: 150px;
    outline: 3px solid #3882F6;
    border-radius: 10px;

}

.lowermid {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.quote {
    display: flex;
    width: 800px;
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
    flex-direction: column;
    
}

.quote p {
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
}

.lower {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.lowercontainer {
    display: flex;
    background-color: #3882F6;
    width: 900px;
    height: 100px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    
}

.lowerinfo {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    justify-content: center;
}

.lowerinfo span {
    color: #F9FAF8;
    font-weight: bold;
}

.lowerinfo p {
    margin: 0;
}



.footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #F9FAF8;
}

button {
    padding: 5px 18px;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: bold;
    

}

